html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Light"),
    url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1200px; /* данный размер уменьшит масштаб страницы сайта для моб.тел, можно увеличить  */
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

/* glob - общие классы и элементы, классы-помощники */ 
.list-reset {     /* сбрасываем маркеры у списка */
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {      /* сбрасываем стили у кнопок */
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section-offset { /* внутренние отступы для секций */
  padding-top: 87px;
  padding-bottom: 160px;
}

/* задали общие классы ---> далее более детально по каждому разделу по порядку

заголовок */

.header {
  padding: 36px 0;
  border-bottom: 1px solid #C4C4C4;
  background-color: #fff;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.nav__item:not(:last-child) /* отступы у всех, кроме последнего */ {
  margin-right: 52px;
}

.nav__link {
  position: relative; /* ИСПОЛЬЗУЕТСЯ при position: absolute; */
  font-weight: 600;
  color: #1C1C1C;
  font-size: 15px;

  transition: color 0.3s ease-in-out;
}

.nav__link:focus {   /* 1. при нажатии/наведении курсора ссылка становится активной и оборачивается бордером*/
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.nav__link:hover {  /* 2. изменяется цвет при наведении курсора*/
  color: #71A7E2;
}

.nav__link::after {   /* 3. состояние :active для нижнего подчеркивания при нажатии */
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474BA;
  opacity: 0; /* скрываем через опасити*/

  transition: opasity 0.3s ease-in-out;
}

.nav__link:active { /* 4. появляется синий бордер при нажатии (при состоянии :activ)*/
  color: #3172B9;
  outline: none; /* убирает обертку*/
}

.nav__link:active::after { /* 5. активируется при нажатии*/
  opacity: 1;
}

.btn {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 35px;
  background: #3172B9;
  color: #fff;
  border-radius: 3px;

  position: relative;  /* добавляем позиционировние для активации кнопки*/  
  outline: none;

  transition: background-color 0.3s ease-in-out;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;  /* 0 для того чтобы ПЭ растянулся на весь элемент родителя, т.е кнопки*/
  left: -3px; /* заменяем на -3 для отступа от кнопки*/
  right: -3px;
  bottom: -3px;
  
  border: 1px solid #3172B9;
  outline: none;
  opacity: 0;

  transition: background-color 0.3s ease-in-out;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71A7E2;
}

.btn:active {
  background-color: #0E3B6C;
}

.btn:active::after {
  opacity: 0;
}

/* hero */
.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__content {
  max-width: 45%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero__descr {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.hero__secure {
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  text-transform: uppercase;
  background-image: url('../img/secure.svg');
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

/* services */

.services {
  border-bottom: 1px solid #DADADA;
}

.services-title {
  text-align: center;
}

.services-descr {
  text-align: center;
}

.services-item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: 270px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.services-item:not(:nth-child(4n)) {    /* у каждой 4n-карточки отступ обнулять */
  margin-right: 30px;
}

.services-item:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}

.services-item-icon {
  fill: #3172B9;
  margin-bottom: 25px;
  transition: fill 0.3s ease-in-out;
}

.services-item:hover .services-item-icon{
  fill: #fff;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;

  transition: color 0.3s ease-in-out;
}

.services-item:hover .services-item-title {
  color: #fff;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;

  transition: color 0.3s ease-in-out;
}

.services-item:hover .services-item-descr {
  color: #fff;
}

/* Articles */
.articles {
  border-bottom: 1px solid #DADADA;;
} 

.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: 30px;
 /* outline: 1px solid coral; убираем контур -> делаем бордер для Блока blog-preview */
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview-link {
  display: flex;
  width: 100%;

  transition: background-color 0.3s ease-in-out;
}

.blog-preview-link:focus {
  background-color: #71A7E2;
}

.blog-preview-link:focus .blog-preview-title {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-time {
  color: #fff;
}

.blog-preview-link:hover {
  background-color: #3172B9;
}

.blog-preview-link:hover .blog-preview-title {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-time {
  color: #fff;
}

.blog-preview-link:active {
  background-color: #0E3B6C;
}

.blog-preview-link:active .blog-preview-title {
  color: #fff;
}

.blog-preview-link:active .blog-preview-descr {
  color: #fff;
}

.blog-preview-link:active .blog-preview-time {
  color: #fff;
}


.blog-preview {
  overflow: hidden; /* переполнение: скрыто -> делаем бордер для Блока */
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #787878;

  transition: color 0.3s ease-in-out;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;

  transition: color 0.3s ease-in-out;
}

.blog-preview-descr {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  max-width: 210px;

  transition: color 0.3s ease-in-out;
}

/* Clients */
.clients {
  border-bottom: 1px solid #dadada;
}

.clients-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  /* outline: 1px solid coral; убираем контур -> делаем бордер для Блока  */
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto; /*всегда будет у нижнего края*/
  align-items: center;
  border-top:1px solid #dadada; /*  */
  width: 100%;
  padding-top: 28px;  
}

.clients-avatar {
  flex-shrink: 0; /*аватар не должен сжиматься в размерах*/
  width: 67px;
  margin-right: 17px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172B9;
  border-radius: 100%;
}

.clients-name {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.clients-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

/* Contacts */
.contacts {
  border-bottom: 1px solid #dadada;
}

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: 370px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  padding-top: 48px; /* отступ для иконки -> размер иконки 29рх + отступ от иконки до текста 19рх*/
}

.contacts-item-address {
  background-image: url('../img/location.svg');
}

.contacts-item-call {
  background-image: url('../img/phone.svg');
}

.contacs-item-email {
  background-image: url('../img/mail.svg');
}

.contacts-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.contacs-item-text {
  margin: 0;
  max-width: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
}

.contacts-item-link {
  font-size: 14px;
  line-height: 180%;
  color: #787878;

  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline: 1px solid #71A7E2;
}

.contacts-item-link:hover {
  color: #71A7E2
}

.contacts-item-link:active {
  outline: none;
  color: #0E3B6C;
}

/* join us */
.join-us {
  border-bottom: 1px solid #dadada;
}

.join-us-title {
 text-align: center;
}

.join-us-descr {
  text-align: center;
  margin-bottom: 30px;
}

.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-input {
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 16px 28px;
  width: 251px;
  height: 60px;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
 }

.form-input:nth-child(-n+2) {
  margin-bottom: 19px;
}

.form-input:focus {
  outline: none;
  border-color:  #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-input:hover {
  border-color: #71A7E2;
}

.form-input:active {
  border-color: #0E3B6C;
}

.form-select {
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 16px 28px;
  width: 251px;
  height: 60px;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-select:focus {
  outline: none;
  border-color:  #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-select:hover {
  border-color: #71A7E2;
}

.form-select:active {
  border-color: #0E3B6C;
}

.form-textarea {
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 20px;
  resize: none; /* размер блока не будет меняться, высоту задаем после выравнивания элементов */
  width: 100%; /* потому что левый и правый блок занмают по 50% --> соответственно блок для комментария занимает всю ширину */
  padding: 16px 28px;
  height: 100%;

  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-textarea:focus {
  outline: none;
  border-color:  #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);
}

.form-textarea:hover {
  border-color: #71A7E2;
}

.form-textarea:active {
  border-color: #0E3B6C;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-right {
  width: 49%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*align-items: flex-end;*/
}

.form-bottom {
  display: flex;
  justify-content: flex-end;
}

.form-btn {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form-check {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: #3172B9;
  border-bottom: 1px solid ;

}

/* footer */
.footer {
  padding: 42px;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer__nav {
  margin-right: 56px;
}

.footer__nav .nav__item:not(:last-child) {
  margin-right: 28px;
}

.footer-copy {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer__nav .nav__link {
  font-size: 12px;
  color: #787878;
}

.nav__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;

  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline-offset: 2px;
  outline: 2px solid #71A7E2;
}

.nav__link:hover {
  color: #71A7E2;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

.nav__link:active {
  outline: none;
}

.nav__link:active::after {
  opacity: 1;
}

.social__link {
  /* display: block; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: contain; */
}

.social__item:not(:last-child) {
  margin-right: 32px;
}

/* .social-link-tw {
  background-image: url('../img/tw.svg');
}

.social-link-linkendin {
  background-image: url('../img/linkedin\ logo.svg');
}

.social-link-mail {
  background-image: url('../img/mail.svg')
}
из макета в html вставили svg, эти стили удаляем, плюс удаляем стили для картинок и центрируем */

.social__link svg {
  fill: #000;

  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

.social__link--mail svg { /* для е-майл убираем заливку и задаем строки черным, то что удалили в html */
  fill: transparent;
  stroke: #000;
}

.social__link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.social__link:hover svg {
  fill: #71A7E2;
}

.social__link-mail:hover svg {
  stroke: #71A7E2;
  fill: transparent;
}

.social__link:active svg {
  fill: #3172B9;
}

.social__link--mail:active svg {
  stroke: #3172B9;
  fill: transparent;
}
